.dark-high-contrast {
  --md-sys-color-primary: rgb(209 253 185);
  --md-sys-color-surface-tint: rgb(168 210 146);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(165 206 142);
  --md-sys-color-on-primary-container: rgb(2 15 0);
  --md-sys-color-secondary: rgb(230 245 216);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(184 199 172);
  --md-sys-color-on-secondary-container: rgb(4 14 2);
  --md-sys-color-tertiary: rgb(201 249 250);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(156 203 204);
  --md-sys-color-on-tertiary-container: rgb(0 14 14);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(17 20 15);
  --md-sys-color-on-background: rgb(225 228 217);
  --md-sys-color-surface: rgb(17 20 15);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(67 72 62);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(237 242 228);
  --md-sys-color-outline-variant: rgb(191 196 183);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(225 228 217);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(45 80 30);
  --md-sys-color-primary-fixed: rgb(196 239 172);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(168 210 146);
  --md-sys-color-on-primary-fixed-variant: rgb(3 21 0);
  --md-sys-color-secondary-fixed: rgb(216 231 203);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(188 203 176);
  --md-sys-color-on-secondary-fixed-variant: rgb(9 20 5);
  --md-sys-color-tertiary-fixed: rgb(187 235 236);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(160 207 208);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 20 21);
  --md-sys-color-surface-dim: rgb(17 20 15);
  --md-sys-color-surface-bright: rgb(78 81 74);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(29 33 26);
  --md-sys-color-surface-container: rgb(46 49 43);
  --md-sys-color-surface-container-high: rgb(57 61 53);
  --md-sys-color-surface-container-highest: rgb(68 72 65);
}
