.dark-medium-contrast {
  --md-sys-color-primary: rgb(190 233 166);
  --md-sys-color-surface-tint: rgb(168 210 146);
  --md-sys-color-on-primary: rgb(10 44 1);
  --md-sys-color-primary-container: rgb(116 155 97);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(210 225 197);
  --md-sys-color-on-secondary: rgb(29 41 23);
  --md-sys-color-secondary-container: rgb(135 149 124);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(181 229 230);
  --md-sys-color-on-tertiary: rgb(0 43 44);
  --md-sys-color-tertiary-container: rgb(107 153 154);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(17 20 15);
  --md-sys-color-on-background: rgb(225 228 217);
  --md-sys-color-surface: rgb(17 20 15);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(67 72 62);
  --md-sys-color-on-surface-variant: rgb(217 222 209);
  --md-sys-color-outline: rgb(174 180 167);
  --md-sys-color-outline-variant: rgb(141 146 134);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(225 228 217);
  --md-sys-color-inverse-on-surface: rgb(40 43 37);
  --md-sys-color-inverse-primary: rgb(45 80 30);
  --md-sys-color-primary-fixed: rgb(196 239 172);
  --md-sys-color-on-primary-fixed: rgb(3 21 0);
  --md-sys-color-primary-fixed-dim: rgb(168 210 146);
  --md-sys-color-on-primary-fixed-variant: rgb(28 62 14);
  --md-sys-color-secondary-fixed: rgb(216 231 203);
  --md-sys-color-on-secondary-fixed: rgb(9 20 5);
  --md-sys-color-secondary-fixed-dim: rgb(188 203 176);
  --md-sys-color-on-secondary-fixed-variant: rgb(45 58 38);
  --md-sys-color-tertiary-fixed: rgb(187 235 236);
  --md-sys-color-on-tertiary-fixed: rgb(0 20 21);
  --md-sys-color-tertiary-fixed-dim: rgb(160 207 208);
  --md-sys-color-on-tertiary-fixed-variant: rgb(7 61 62);
  --md-sys-color-surface-dim: rgb(17 20 15);
  --md-sys-color-surface-bright: rgb(66 70 62);
  --md-sys-color-surface-container-lowest: rgb(6 8 4);
  --md-sys-color-surface-container-low: rgb(27 31 24);
  --md-sys-color-surface-container: rgb(37 41 34);
  --md-sys-color-surface-container-high: rgb(48 52 45);
  --md-sys-color-surface-container-highest: rgb(59 63 56);
}
