.light {
  --md-sys-color-primary: rgb(67 104 51);
  --md-sys-color-surface-tint: rgb(67 104 51);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(196 239 172);
  --md-sys-color-on-primary-container: rgb(44 79 29);
  --md-sys-color-secondary: rgb(85 98 76);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(216 231 203);
  --md-sys-color-on-secondary-container: rgb(61 75 54);
  --md-sys-color-tertiary: rgb(56 102 103);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(187 235 236);
  --md-sys-color-on-tertiary-container: rgb(30 78 79);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(248 250 240);
  --md-sys-color-on-background: rgb(25 29 23);
  --md-sys-color-surface: rgb(248 250 240);
  --md-sys-color-on-surface: rgb(25 29 23);
  --md-sys-color-surface-variant: rgb(223 228 215);
  --md-sys-color-on-surface-variant: rgb(67 72 62);
  --md-sys-color-outline: rgb(115 121 110);
  --md-sys-color-outline-variant: rgb(195 200 187);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(46 49 43);
  --md-sys-color-inverse-on-surface: rgb(239 242 232);
  --md-sys-color-inverse-primary: rgb(168 210 146);
  --md-sys-color-primary-fixed: rgb(196 239 172);
  --md-sys-color-on-primary-fixed: rgb(6 33 0);
  --md-sys-color-primary-fixed-dim: rgb(168 210 146);
  --md-sys-color-on-primary-fixed-variant: rgb(44 79 29);
  --md-sys-color-secondary-fixed: rgb(216 231 203);
  --md-sys-color-on-secondary-fixed: rgb(19 31 13);
  --md-sys-color-secondary-fixed-dim: rgb(188 203 176);
  --md-sys-color-on-secondary-fixed-variant: rgb(61 75 54);
  --md-sys-color-tertiary-fixed: rgb(187 235 236);
  --md-sys-color-on-tertiary-fixed: rgb(0 32 33);
  --md-sys-color-tertiary-fixed-dim: rgb(160 207 208);
  --md-sys-color-on-tertiary-fixed-variant: rgb(30 78 79);
  --md-sys-color-surface-dim: rgb(216 219 209);
  --md-sys-color-surface-bright: rgb(248 250 240);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(242 245 234);
  --md-sys-color-surface-container: rgb(237 239 229);
  --md-sys-color-surface-container-high: rgb(231 233 223);
  --md-sys-color-surface-container-highest: rgb(225 228 217);
}
